{% extends "layout.html" %}

{% block content %}
<div class="main-container">
  <div class="content">
    <div class="postgres">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <tbody>
        {% for result in results %}
          <tr>
            {% for element in result %}
              <td>
                {{element}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
